#### 1) Create a list with 5 elements and add a 7th element.  Can you access the 6th element now ?    Does R and Python behave differently ?

In [2]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [3]:
a.insert(6,7)
a

[1, 2, 3, 4, 5, 7]

In [4]:
a.insert(15,15)
a

[1, 2, 3, 4, 5, 7, 15]

#### 2) Insert the word "Excellent" as the 2nd element in the  above list

In [5]:
a

[1, 2, 3, 4, 5, 7, 15]

In [6]:
a[1] = "Excellent"
a

[1, 'Excellent', 3, 4, 5, 7, 15]

In [7]:
a.insert(1, "Super")
a

[1, 'Super', 'Excellent', 3, 4, 5, 7, 15]

#### 3) Remove or delete the 3rd element from the above list

In [8]:
a

[1, 'Super', 'Excellent', 3, 4, 5, 7, 15]

In [9]:
a.pop(2)
a

[1, 'Super', 3, 4, 5, 7, 15]

#### 4) Extract the 2nd to 4th element in the list

In [10]:
a

[1, 'Super', 3, 4, 5, 7, 15]

In [12]:
a[2:5]

[3, 4, 5]

#### 5) Create 2 lists with different length and concatenate  them into a single list

In [13]:
l1 = [1,2,3,4]
l2 = [10,20,30]
l1+l2

[1, 2, 3, 4, 10, 20, 30]

In [14]:
l1.extend(l2)
l1

[1, 2, 3, 4, 10, 20, 30]